html,
body {
  margin: 0;
  padding: 0;
  background: black;
  position: relative;
  overflow: hidden;
}

canvas {
  display: block;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

p {
  font-family: Arial;
  font-size: 1.4rem;
}

#logo-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
}

.link {
  font-family: 'Chakra Petch', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: white;
  position: relative;
  transition: all 0.5s ease;
}

.link:hover {
  opacity: 1;
  transform: scale(1.02);
}

.link a {
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.link a:link, .link a:visited, .link a:hover, .link a:active {
  color: white;
  text-decoration: none;
}

.link>div, .link>a {
  margin: 0;
  padding: 0;
}

#top-right {
  text-align: right;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

#bottom-left {
  text-align: right;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 10;
}

#bottom-right {
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
}

.custom-line {
  height: 6px;
  background-color: rgba(255, 255, 255, 0.265);
  margin-top: 0.25rem;
  width: 30%;
  position: absolute;
  bottom: 100%;
  top: 4rem;
  right: 0rem;
  transform: rotate(0deg);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.slidyboy {
  position: absolute;
  top: 15%;
  right: 0px;
  padding-top: 0px;
  padding-left: 25px;
  padding-right: 25px;
  transform: translate(75vw, 0px);
  width: 45%;
  height: 65%;
  transition: all 0.75s ease;
  background-color: rgb(0, 221, 103);
  opacity: 0;
  overflow-y: scroll;
}

.slidyboy.toggled {
  transform: translate(0vw, 0px);
  opacity: 1;
}

.link a:hover~.custom-line {
  transform: rotate(-30deg);
}

.paradox{
  font-family: 'Chakra Petch', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: white;
  position: relative;
  transition: all 0.5s ease;
}

.paradox:hover {
  opacity: 1;
  transform: scale(1.02);
}

@media screen and (max-width: 700px) {
  .slidyboy {
    width: 75%;
  }

  .paradox {
    font-size: 2rem;
    width: 200px; 
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    word-break: break-word; 
  }

  .link {
    font-size: 2rem;
  }
}